body {
  font-family: Verdana, Tahoma, sans-serif;
  }
 
.container {
  max-width: 100%;
  margin: auto;
  font-family: Verdana, Tahoma, sans-serif;

}
.form {
  max-width: 760px;
  min-width: 360px;
  min-height: 360px;
  margin: auto;
  margin-bottom: 12px;
  text-align: center;
  background-color:rgba(220, 244, 250, 0.576);

}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  }
.btn {
  margin-top: 10px;
}